# Xcode settings
#
xcuserdata/
*.xcworkspacedata

# Carthage
#
Novella/Carthage/Build
# comment out this line to commit downloaded libraries
Novella/Carthage/Checkouts

# GitHub Pages/Jekyll Stuff
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
docs/Gemfile.lock
