# Xcode settings
#
xcuserdata/
*.xcworkspacedata

# Carthage
#
novella/Carthage/Build
# comment out this line to commit downloaded libraries
novella/Carthage/Checkouts

# GitHub Pages/Jekyll Stuff
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
docs/Gemfile.lock
